body {
  background: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
}

.container {
  font-family: "Unica One", cursive;
  color: #fffeec;
}

.nav {
  font-weight: 600;
  font-size: 17px;
  margin-top: 12px;
  margin-right: -35px;
  font-family: "Unica One", cursive;
  color: #fffeec;
}
.nav a {
  color: #fffeec;
}

.nav a:hover {
  color: #972ea9;
  font-family: "Silkscreen", cursive;
  font-size: 12px;
}

.name {
  font-family: "Silkscreen", cursive;
  padding: 25px 0;
  font-size: 55px;
  text-shadow: 1.5px 1.5px 2px #000000;
}

.intro {
  text-align: center;
  padding: 50px;
  margin: 80px 10px 0 10px;
}

.about-me {
  text-align: left;
  max-width: 700px;
  margin: 60px 25px;
}
.about-me-title {
  font-size: 40px;
  font-family: "Silkscreen", cursive;
}

.about-me-text {
  font-size: 20px;
}

#my-avatar-1 {
  width: 400px;
  margin-top: 60px;
  padding-top: 70px;
}

.my-work-container {
  display: block;
  text-align: center;
  padding: 50px;
}

.my-work-title {
  font-size: 40px;
  font-family: "Silkscreen", cursive;
  text-align: left;
  margin-top: 60px;
}
