body {
  background: linear-gradient(
    88.8deg,
    rgb(239, 171, 245) 13.4%,
    rgb(196, 181, 249) 76.3%
  );
}

.container {
  font-family: "Unica One", cursive;
  color: #fffeec;
}

.nav {
  font-weight: 600;
  font-size: 17px;
  margin-top: 12px;
  margin-right: -35px;
  font-family: "Unica One", cursive;
  color: #fffeec;
}
.nav a {
  color: #fffeec;
}

.nav a:hover {
  color: #972ea9;
}

h1 {
  font-family: "Silkscreen", cursive;
  padding: 20px 0;
}

.about-me-intro {
  display: block;
  text-align: center;
  margin: 90px;
}
.about-me-intro a {
  font-size: 25px;
  color: #fffeec;
  text-decoration: none;
}

.about-me-intro a:hover {
  color: #972ea9;
}

img {
  width: 320px;
  margin-top: 50px;
  margin-left: 80px;
  transition: all 250ms ease-in-out;
}

img:hover {
  filter: contrast(90%);
  transform: scale(1.3);
}
